:root {
    --ddc: #663b49;
    --dlc: #835162;
    --bdc: #192123;
    --blc: #21292b;
    --bmlc: #293133;
    --hovergrayc: #312730;
    --hrefc: #81B8EF;
    --hrefconh: #629dd8;
    --textcolor: #ffffff;
    --borderc: #404d50;
    --smallrnd: 3px;
    --medrnd: 5px;
    --bigrnd: 10px;
    --largernd: 25px;
    --infrnd: 999px;
    --darkgreenc: #2b3a2e;
    --darkredc: #812A00;
    --addbluec: #007C45;
    --addredc: #A13D63;
    --grade1c: #7a0c19;
    --grade2c: #df0707;
    --grade3c: #f48c06;
    --grade4c: #80ac5f;
    --grade5c: #4f702b;
    --alertc: var(--darkredc);
    --alertd: #9e6124;
}