:root {
    --ddc: #00564D;
    --dlc: #00897B;
    --bdc: #222222;
    --blc: #2b2b2b;
    --bmlc: #3b3b3b;
    --hovergrayc: #424242;
    --borderc: #525252;
    --hrefc: #68B7DE;
    --hrefconh: #ABD7ED;
    --textcolor: white;
    --smallrnd: 5px;
    --medrnd: 10px;
    --bigrnd: 15px;
    --largernd: 25px;
    --infrnd: 999px;
    --darkgreenc: #223322;
    --darkredc: #332222;
    --addbluec: #0084B3;
    --addredc: #F06449;
    --grade1c: #7a0c19;
    --grade2c: #df0707;
    --grade3c: #f48c06;
    --grade4c: #80ac5f;
    --grade5c: #4f702b;
    --alertc: #3c2b2b;
    --alertd: #9e6124;
}
