:root {
    --ddc: #5c5173;
    --dlc: #52466C;
    --bdc: #231B2A;
    --blc: #281e30;
    --bmlc: #31253c;
    --hovergrayc: #392937;
    --hrefc: #81B8EF;
    --hrefconh: #629dd8;
    --textcolor: #dcdcdc;
    --borderc: #42303f;
    --smallrnd: 3px;
    --medrnd: 5px;
    --bigrnd: 10px;
    --largernd: 25px;
    --infrnd: 999px;
    --darkgreenc: #2b3a2e;
    --darkredc: #812A00;
    --addbluec: #1c725e;
    --addredc: #a02a79;
    --grade1c: #7a0c19;
    --grade2c: #df0707;
    --grade3c: #f48c06;
    --grade4c: #80ac5f;
    --grade5c: #4f702b;
    --alertc: var(--darkredc);
    --alertd: #9e6124;
}
